name: Sentinel-X Security Gate
on: [push]

jobs:
  governance-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: OPA Policy Audit
        run: |
          docker run --rm -v ${{ github.workspace }}:/work openpolicyagent/opa check /work/policies/authz.rego --v1-compatible

  deploy:
    needs: [governance-check]
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        run: echo "Security gate passed. Deployment successful!"


# Scanner removed for now
